@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* { 
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}

body {
  min-height: 100vh;
  background: #1b1c1d;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, .sub.header {
  color: #ffffff !important;
}

h1 .content, h2 .content, h3 .content, h4 .content, h5 .content, h6 .content {
  line-height: 2.0;
}

#index .row {
  text-align: center;
}

#index .row h3 {
  margin-top: 14px;
}

#index .row .column:hover {
  background-color: #212121;
}
